<style>
.parent
{
    width:100%;
}
.left
{
    float:left;
    width:40%;
    box-sizing:border-box;
    padding:0px;
    min-height:200px;
}

.right
{
    float:left;
    width:60%;
    box-sizing:border-box;
    padding:0px;
    min-height:200px;
}

</style>

<div class="parent">
 

<h2> Recent Posts </h2>
<a style="padding:2px 6px 4px 6px; color: #555555; background-color: #eeeeee; border: #dddddd 2px solid"; href="/blog/posts/The-Euler-Characteristic"> Post1 </a>


    <div class="home-sub-text">
        <h4> Some links </h4>
        <a href="https://jasminecash.com/" style="colour: #98bdb7" target="_blank"> https://jasminecash.com/ </a>
    </div>

    <div class="left">
        <div class="home-sub-text">
           
        </div>
    </div>

    <div class="right">
        <div class="home-sub-text">
            
        </div>
    </div>

</div>