<style>
.parent
{
    width:100%;
}
.left
{
    float:left;
    width:50%;
    box-sizing:border-box;
    padding:5px;
    min-height:200px;
}

.right
{
    float:left;
    width:50%;
    box-sizing:border-box;
    padding:5px;
    min-height:200px;
}

</style>

<div class="parent">

 
    <div class="left">
        <div class="home-sub-text">
            <h2>   
                About
            </h2>
            <p> 
                I'm currently studying Mathematics at Durham University. Throughout my course I have mainly studied Pure Mathematics, although I have enjoyed modules in Statistics, Probability, and Russian. I have a particular interest in Topology and Number Theory. 
            </p>

            <p2>
                The 'Blog' section above contains all of my posts. Although these blogs are primarily mathematical, you will also find some other subjects explored.
            </p>
        </div>
    </div>

    <div class="right">
        <div class="home-sub-text">
            <h2> Recent Posts </h2>
            <p style="padding:2px 6px 4px 6px; color: #555555; background-color: #eeeeee; border: #dddddd 2px solid"> Post1 </p2>
        </div>
    </div>
 
    <div class="home-sub-text">
        <h4> Some links </h4>
        <a href="https://jasminecash.com/gallery/"> https://jasminecash.com/gallery/ </a>
    </div>

</div>