<style>
.parent
{
    width:100%;
}
.left
{
    float:left;
    width:50%;
    box-sizing:border-box;
    padding:5px;
    min-height:200px;
}

.right
{
    float:left;
    width:50%;
    box-sizing:border-box;
    padding:5px;
    min-height:200px;
}

</style>

<div class="parent">

 
    <div class="left">
        <div class="home-sub-text">
            <h2> About </h2>
            I'm currently studying Mathematics at Durham University. Throughout my course I have mainly studied Pure Mathematics, although I have enjoyed modules in Statistics, Probability, and Russian. I have a particular interest in Topology and Number Theory.

            The 'Blog' section above contains all of my posts. Although these blogs are primarily mathematical, you will also find some other subjects explored.
        </div>
    </div>

    <div class="right">
        <div class="home-sub-text">
            <h2> Recent Posts </h2>
        </div>
    </div>
 
    <div class="home-sub-text">
        <h4> Some links </h4>
    </div>

</div>